<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome {{ this.appStore.meUser()?.username }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="button-group">
        <button [disabled]="homeState.isGettingSecret()" mat-raised-button color="primary" (click)="onGetSecretText()">
          Get secret text
        </button>
        <button [disabled]="!homeState.isGettingSecret()" mat-raised-button color="primary" (click)="onHideSecretText()">
          Hide secret text
        </button>
      </div>

      <p *ngIf="homeState.adminData()">{{ homeState.adminData() }}</p>
    </mat-card-content>
  </mat-card>
</div>
